* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.leads-section {
    margin-top: 120px;
    margin-left: 278px;
    margin-right: 10px;
    width: 80%;
    height: 1600vh;
    /* background-color: rgba(245, 248, 248, 0.541); */
    padding: 20px;

}