/* body {

} */

*{
  margin: 0;
  padding: 0;

}
.conatiner{
  padding: 10px 0px;
  margin: auto;
  position: absolute;
  right: 0%;
  width: 60%;
  height: 12vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(19, 88, 134, 0.329);
  z-index: 999999999;
  
}
.logo{
  margin-left: 10%;
}
ul{
  display: flex;
  margin-right: 10%;
}
ul li{
  list-style: none;
  margin: 20px;
}
ul li a{
  text-decoration: none;
  font-size: 20px;
  color: gainsboro;
}
ul li a:hover{
  cursor: pointer;
  color: rgb(51, 34, 2);
}