*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar-section{
    padding: 20px 20px;
    margin-left: 255px !important;
    position: sticky;
    top: 0;
    right: 0%;
    width: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: none;
    z-index: 999999999999999999 ;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}
.logo {
    left: 0;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

 .topbar-section .icon{
    display: flex;
    align-items: center;
    color: lightgray;
    margin-right: 10px;
}
.div-icon{
    margin: 20px;
    font-size: 38px;
}

ul {
    display: flex;
    margin-right: 10%;
}



 a:hover {
    cursor: pointer;
    color: rgba(78, 76, 72, 0.178);
}


form input{
    width: 380px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid rgba(39, 37, 37, 0.966);
    background-color: rgba(30, 30, 30, 0.493);
    color: rgba(211, 211, 211, 0.452);
    font-size: 18px;
    padding-left: 45px;
}
form input:active{
    border-style: none;
}
form button{
    padding: 15px;
    margin-left: -65px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
        border: 3px solid rgba(41, 40, 40, 0.363);
        background-color: rgba(30, 30, 30, 0.493);
}
form input:active{
    border-style: none;
    border-color: rgba(41, 40, 40, 0.363);
}




/* SIDEBAR SECTION */
.sidebar-section {

    height: 100vh;
    position: fixed;
    top: 0;
}

.App-logo {
    width: 140px;
    margin: auto 18%;
}
.sidebar-section .coname a:hover{
    color: darkslategrey !important;
}





